<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div class="container-fluid">
        <h1 th:text="${title}">Default title</h1>
        <nav th:replace="fragments :: navigation"></nav>
        <p th:unless="${products} and ${products.size()}">Empty stock...</p>
        <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>STATE</th>
                </tr>
            <tr>
                <td th:each="product: ${products}"></td>
                <!--<td th:text="${name == null ? '' : product.name}"></td>-->
                <!--<td th:text="${description == null ? '' : product.description}"></td>-->
                <td th:text="${product == null ? '' : product.name}"></td>
                <td th:text="${product == null ? '' : product.description}"></td>
                <td th:text="${product.state?.name}"></td>
            </tr>
        </table>
    </div>
    
</body>
</html>
